modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CLOUDFLARE_R2_URL = "https://a036e69c21e628f9926b890a16d1302c.r2.cloudflarestorage.com"
CLOUDFLARE_AI_ACCOUNT_ID = "a036e69c21e628f9926b890a16d1302c"
NODE_ENV = "development"

[userenv.development]
PORT = "25629"
BASE_PATH = "/"
